.container {
	background: rgb(71, 43, 186);
	background: linear-gradient(0deg, #000428 0%, #004e92 70%);
	display: flex;
	min-height: 100vh;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
