.container {
	height: 120vh;
	display: flex;
	// flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	z-index: 1;
}

.control_bar {
	z-index: 1;
	display: flex;
	width: 80%;
}

.btn {
	height: 4rem;
	width: 4rem;
	margin: 2rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}

.chessGroundContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	width: min-content;
	height: min-content;
}

.information_container {
	display: flex;
	align-items: center;
	flex-direction: column;
}
.timer {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 1px white;
	height: 5rem;
	width: 20rem;
	border-radius: 10px;
	color: white;
	font-size: 2rem;
}

.timer p {
	padding: 0.8rem 0 0 0;
}

.dashboard {
	margin-top: 2rem;
	flex-direction: column;
	height: 20rem;
	width: 20rem;
	border-radius: 10px;
	border: 1px solid white;
	padding: 2rem;
	display: flex;
	font-size: 1.5rem;
	z-index: 99999;
}

.wrong_move {
	position: fixed;
	min-height: 512px;
	width: 512px;
	background-color: rgb(100, 0, 0, 0.4);
	z-index: 3;
	margin-bottom: 18rem;
}
