.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	z-index: 99999;
}

.content {
	z-index: 99999;
	display: flex;
	width: 100%;
}

.btn {
	height: 4rem;
	width: 4rem;
	margin: 2rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}
