.container {
	height: 120vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.btn {
	z-index: 99999;
}

.control_bar {
	z-index: 99999;
	display: flex;
	width: 100%;
}

.btn {
	height: 4rem;
	width: 4rem;
	margin: 2rem;
	border: none;
	border-radius: 50%;
	cursor: pointer;
}
.game_history {
	background-color: white;
	flex-direction: column;
	height: 20rem;
	width: 40%;
	border-radius: 30px;
	padding: 2rem;
	display: flex;
	font-size: 1.5rem;
	z-index: 99999;
}
