.container {
	flex: 1;
}

.content {
	background-color: rgb(245, 245, 245);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.progression_title {
	font-size: 2rem;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.icon {
	margin-top: 0.6rem;
	margin-left: 0.5rem;
}

.turn {
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
	align-items: center;
	text-align: center;
}

.text_title {
	font-weight: 700;
	margin-bottom: -20px;
}
