.container {
	flex: 1;
	justify-self: center;

	@media screen and (max-width: 1024px) {
		margin: 3rem 50%;
		justify-self: center;
	}
	@media screen and (max-width: 450px) {
		margin: 3rem 0;
	}
}

.content {
	background-color: rgb(245, 245, 245);
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	@media screen and (min-width: 450px) {
		width: 35rem;
	}
}

.progression_title {
	font-size: 2rem;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.turn {
	font-size: 2rem;
	font-weight: 500;
	line-height: 3rem;
	align-items: center;
	text-align: center;
}

.text_title {
	font-weight: 700;
	margin-bottom: -20px;
}

.btn_lichess {
	margin: 1rem;
	color: rgb(104, 104, 104);
	font-size: 2rem;
	background-color: rgb(245, 245, 245);
	border: none;
	padding: 1rem 2rem;
	border-radius: 5px;
	cursor: pointer;
}
