.container {
	height: 100vh;
	width: 90%;
	margin: 0 auto 0 auto;
	color: #222;
	font-family: 'Merriweather Sans', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.title {
	font-family: 'Merriweather Sans', sans-serif;
	font-size: 26px;
	margin: 32px auto 24px;
	line-height: 40px;
	color: white;
	text-align: center;
}
