.container {
	height: 100vh;
	margin: 0;
	color: #222;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
}

.content {
	background: white;
	width: 380px;
	height: 480px;
	border-radius: 40px;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	box-shadow: 0 3px 16px #222;
}

.title {
	font-family: sans-serif;
	font-size: 26px;
	margin: 32px auto 24px;
	line-height: 40px;
	color: white;
	text-align: center;
}

.imgLichess {
	display: block;
	margin-top: 32px;
	margin-left: auto;
	margin-right: auto;
	width: 160px;
	height: 160px;
}

.contentBottom {
	margin: 10px 0;
	text-align: center;
	color: white;
}

.btn {
	text-decoration: none;
	text-align: center;
	display: block;
	width: 250px;
	line-height: 58px;
	padding-top: 2px;
	border-radius: 20px;
	color: #004e92;
	background: white;
	margin: 0 auto;
	border: none;
	font-size: 18px;
	font-family: sans-serif;
	font-weight: bold;
}
