.content {
	background-color: white;
	padding: 2rem;
	border-radius: 5%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	font-size: 3rem;
	width: 30%;
}
