.choice {
	height: fit-content;
	width: 30rem;
	flex-wrap: wrap;
	border: solid 1px white;
	border-radius: 10px;
	cursor: pointer;
	margin: 1rem;
	&_active {
		flex-wrap: wrap;
		background-color: white;
		height: fit-content;
		width: 30rem;
		border: solid 1px white;
		border-radius: 10px;
		cursor: pointer;
		margin: 1rem;
	}
}

.title {
	color: white;
	font-size: 2rem;
	margin: 1rem;
	&_active {
		color: black;
		font-size: 2rem;
		margin: 1rem;
	}
}

.desc {
	color: white;
	margin: 1rem;
	font-size: 1.5rem;
	font-weight: 300;
	&_active {
		color: black;
		margin: 1rem;
		font-size: 1.5rem;
		font-weight: 300;
	}
}
