.option {
	text-align: left;
	display: flex;
	flex-direction: column;
	width: 100%;
	justify-content: space-between;
	align-items: stretch;
	margin-top: 2rem;
	border-bottom: solid 1px white;

	&_description {
		font-size: 2rem;
		margin: 0;
		color: white;
		align-self: center;
		margin-right: 1rem;
		@media screen and (max-width: 450px) {
			font-size: 1.5rem;
		}
	}

	&_input {
		display: flex;
		justify-content: space-between;
	}
}

.container {
	margin-top: 0.7rem;
}

.placeHolder {
	color: white;
	font-size: 1.5rem;
}
