.timer {
	display: flex;
	align-items: center;
	justify-content: center;
	border: solid 3px rgb(245, 245, 245);
	height: 4.5rem;
	width: 16rem;
	border-radius: 10px;
	color: rgb(245, 245, 245);
	font-size: 2rem;
}
