.set {
	border: 3px solid white;
	border-radius: 30px;
	height: 35rem;
	width: 25rem;
	display: flex;
	flex-direction: column;
	color: white;
	margin: 1rem;
	padding: 1rem;
}

.title {
	margin: 1rem;
	margin-top: 0rem;
	font-size: 3rem;
	font-weight: 500;
}

.list {
	height: 100%;
	display: flex;
	position: relative;
	justify-content: space-around;
	list-style: none;
	&_element {
		font-size: 2.5rem;
		margin-top: 1rem;
		font-weight: 300;
	}
}

.supress {
	width: 3rem;
	position: absolute;
	top: -4.5rem;
	right: 0;
	cursor: pointer;
}

.informations {
	font-size: 1.5rem;
	margin-bottom: 3rem;
}

.badge {
	color: white;
	padding: 0.5rem 1rem;
	border-radius: 5px;
	&_primary {
		background-color: green;
	}
	&_secondary {
		background-color: grey;
	}
	&_yellow {
		background-color: yellow;
		color: black;
	}
	&_warning {
		background-color: red;
	}
}

/* Tooltip container */
.tooltip {
	position: relative;
	display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
	visibility: hidden;
	width: fit-content;
	background-color: white;
	color: black;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;

	/* Position the tooltip text - see examples below! */
	position: absolute;
	z-index: 3;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
	visibility: visible;
	top: -5px;
	left: 105%;
}
