.set {
	border: 1px solid white;
	border-radius: 10px;
	height: 35rem;
	width: 25rem;
	display: flex;
	flex-direction: column;
	color: white;
	margin: 1rem;
	padding: 1rem;
}

.title {
	margin: 1rem;
	font-size: 2rem;
	font-weight: 500;
}

.list {
	height: 100%;
	display: flex;
	justify-content: space-around;
	list-style: none;
	&_element {
		font-size: 1.5rem;
		margin-top: 1rem;
	}
}
