.option {
	text-align: left;

	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
	margin-top: 2rem;

	border-bottom: solid 1px white;
	@media screen and (max-width: 450px) {
		padding-bottom: 0.6rem;
		margin-top: 0.5rem;
	}

	&_description {
		font-size: 2rem;
		margin: 0;
		color: white;
		align-self: center;
		margin-right: 1rem;
		@media screen and (max-width: 450px) {
			font-size: 1.5rem;
		}
	}

	&_secondary {
		width: 60%;
		align-self: flex-end;
	}
}
