.container {
	width: 100vw;
	height: 100vh;
	display: flex;
}

.gameSet {
	margin-top: 20rem;
	height: 20rem;
	width: 20rem;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
