.container {
	margin-top: 6rem;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content {
	width: 90%;
}

.gameSet {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.set {
	border: 1px solid white;
	position: relative;
	border-radius: 10px;
	height: 35rem;
	width: 25rem;
	display: flex;
	flex-direction: column;
	color: white;
	margin: 1rem;
	padding: 1rem;
	overflow: hidden;
}

.title {
	font-size: 2rem;
	font-weight: 500;
	color: white;
}
.description {
	color: #ccc;
	font-size: 1.5rem;
}

@media screen and (min-width: 750px) {
	.title {
		font-size: 3rem;
	}
	.description {
		color: #ccc;
		font-size: 1.8rem;
	}
}

@media screen and (min-width: 1024px) {
	.container {
		margin-top: 5rem;
	}
}

.list {
	height: 100%;
	display: flex;
	justify-content: space-around;
	list-style: none;
	&_element {
		font-size: 1.5rem;
		margin-top: 1rem;
	}
}

.bluer {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	top: 0;
	left: 0;
	z-index: 1;
	position: absolute;
	background-color: #ccc;
	height: 100%;
	width: 100%;
	color: grey;
	font-size: 2rem;
	font-weight: 300;
	cursor: pointer;
}
