.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 80%;
	margin: auto auto;
}

.title {
	color: white;
	padding-top: 5rem;
}

.input_number {
	background-color: white;
	color: var(--color-primary);
	font-size: 2rem;
	border: none;
	border-radius: 5px;
	height: 4rem;
	width: 10rem;
	justify-self: center;
	align-self: center;
	margin-left: 2rem;
	text-align: center;
}
