.wrong_move {
	animation-name: wrongMoveFlash;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
}

@keyframes wrongMoveFlash {
	0% {
		box-shadow: 0 0 100px 8px red;
	}
	100% {
		box-shadow: none;
	}
}

.right_move {
	animation-name: rightMoveFlash;
	animation-duration: 0.6s;
	animation-iteration-count: 1;
}

@keyframes rightMoveFlash {
	0% {
		box-shadow: 0 0 60px 2px green;
	}
	100% {
		box-shadow: none;
	}
}

.finish_move {
	animation-name: finishMoveFlash;
	animation-duration: 1.2s;
	animation-iteration-count: 1;
}

@keyframes finishMoveFlash {
	0% {
		box-shadow: 0 0 100px 8px yellow;
	}
	100% {
		box-shadow: none;
	}
}
