.container {
	height: 100vh;
	width: 90%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

.title {
	font-size: 3rem;
	color: white;
}

.content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.btn_container {
	margin-top: 5rem;
	width: 80%;
}
