.container {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.title {
	color: white;
	padding-top: 5rem;
}

.option {
	text-align: left;
	color: white;
	display: flex;
	width: 80%;
	justify-content: space-between;
	align-items: center;
	padding-bottom: 1rem;
	margin-top: 2rem;

	border-bottom: solid 1px;
}

.description {
	font-size: 2rem;
	margin: 0;
}

.input_number {
	background-color: white;
	color: var(--color-primary);
	font-size: 2rem;
	border: none;
	border-radius: 5px;
	height: 4rem;
	width: 10rem;
	justify-self: center;
	align-self: center;
	margin-left: 2rem;
	text-align: center;
}
